input:focus, textarea:focus, select:focus {
  outline: none;
}

input[type=text] {
  border: none;
  background-color: #0000;
}

input.largeInput {
  color: #61dafb;
  font-size: 3rem;
}

input.mediumInput {
  color: #61dafb;
  font-size: 2rem;
}

textarea.smallInput {
  font-size: 1rem;
}

textarea {
  border: none;
  background-color: #0000;
  width: 100%;
}

.profile {
  height: 3.5rem;
}
